* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: #1f2937;
    --background-color: #111827;
    --outline-color: #374151;
    --text-main-color: #e5e7eb;
    --text-second-color: #9ca3af;
    --button-color: #374151;
    --button-text-color: #1f2937;
    --book-color: #1f2937;
    --read-btn: #22c55e;
    --reading-btn: #f59e0b;
    --hn-read-btn: #dc2626;
    --outline-second-color: #6b7280;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --header-height: 5rem;
    --footer-height: 3rem;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
    display: grid;
    grid-template-rows: var(--header-height), var(--main-height), var(--footer-height);
}

/* HEADER */
header {
    width: 100%;
    height: var(--header-height);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--header-color);
    border-bottom: 1px solid var(--outline-color);
    color: var(--text-main-color);
}

.header {
    width: 90%;
    display: grid;
    grid-template-columns: auto 40px;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 3rem;
}

header svg {
    fill: var(--text-main-color);
}

header svg:hover {
    translate: 0px -2px;
    transition: all 0.15s;
}

/* MAIN */
main {
    width: 100%;
    min-height: var(--main-height);
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: 2rem;
}

.main-inner {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-top: 2rem;
    justify-items: center;
}

.add-book {
    width: 100%;
}

.add {
    justify-self: left;
    width: 7em;
    height: 3em;
    font-size: 1.5rem;
    background-color: var(--button-color);
    border: none;
    border-radius: 0.8rem;
    color: var(--text-main-color);
    border: 1px solid var(--outline-second-color);
}

.add:hover {
    translate: 0px -5px;
    opacity: 0.7;
    transition: all 0.2s;
}
.add:active {
    opacity: 0.5;
}

.book-display {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.book-display-inner {
    width: 100%;
    height: 90%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(2, 300px);
    grid-auto-rows: 300px;
    gap: 2rem;
}

.book {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: var(--book-color);
    border-radius: 0.5rem;
    border: 1px solid var(--outline-color);
    padding-left: 1.5rem;
    align-items: center;
    overflow-x: scroll;
}

.top {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 30px;
}

.cover {
    max-width: 100px;
    max-height: auto;
    overflow: hidden;
}

.cover img {
    max-width: 100%;
    max-height: 100%;
}

.book h1 {
    font-size: 1.2rem;
    color: var(--text-main-color);
}

.book h2 {
    font-size: 1rem;
    color: var(--text-second-color);
}

.book h3 {
    font-size: 0.8rem;
    color: var(--text-second-color);
}

.status {
    display: grid;
    grid-template-columns: 15px;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
    align-self: self-start;
}

.have-read {
    fill: #22c55e;
}

.havent-read {
    fill: #b91c1c;
}

.am-reading {
    fill: #f59e0b;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 60px;
}

.del {
    width: 60%;
    padding-right: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--outline-color);
    background-color:var(--header-color);
    color: var(--text-main-color);
    padding-left: 0.3rem;
}

.del:active {
    border: 1px solid red;
}

/* POPUP */

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    visibility: visible;
    animation: fadeIn 150ms;

}

.book-input {
    width: 120%;
    height: 70%;
    overflow: hidden;
    border-radius: 2rem;
    background-color: var(--background-color);
    border: 1px solid var(--outline-color);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.popup-inner {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 3fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.add-title {
    text-align: center;
    color: var(--text-main-color);
}


input[type="file"] {
    outline: none;
    padding: 4px;
    margin: -4px;
}
  
input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
    outline: 2px solid #0964b0;
    outline-offset: 2px;
}
  
input[type="file"]::before {
    top: 16px;
}
  
input[type="file"]::after {
    top: 14px;
}
  
  
input[type="file"] {
    position: relative;
}
  
input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
}
  
  /* Faked label styles and icon */
input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    /*   top: 11px; */
    left: 40px;
    color: #0964b0;
    content: "Upload File";
}
  
input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    /*   top: 10px; */
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}
  
  /* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: var(--background-color);
    border: 1px solid var(--outline-color);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}
  
  /* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: var(--background-color);
}
  
  /* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: var(--background-color);
}

.book-info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
}

.info-input {
    font-size: 1rem;
    color: var(--text-main-color);
    padding-right: 1rem;
}

.TAP {
    background-color: var(--header-color);
    border: 1px solid var(--outline-color);
    border-radius: 1rem;
    padding-left: 1rem;
    color: var(--text-main-color);
    height: 2rem;
}

.invalid-input {
    border: 1px solid red;
}

.invalid-image {
    outline: 2px solid red;
}

.sc-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 1rem;
    align-items: center;
}

.sc-btns {
    width: 90%;
    text-align: center;
    color: var(--text-second-color);
    font-size: 1.3rem;
    width: 10em;
    height: 2em;
    border-radius: 1.5rem;
    border: 1px solid var(--outline-color);
    background-color: var(--header-color);
}

.Submit {
    background-color: #0284c7;
    border-radius: 1px solid #075985;
    color: white;
}

.sc-btns:hover {
    opacity: 0.7;
}

.sc-btns:active {
    opacity: 0.5;
}

.cover-input {
    width: 120px;
    height: auto;
    overflow: hidden;
}


/* FOOTER */
footer {
    height: var(--footer-height);
    display: grid;
    grid-template-columns: auto 30px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    background-color: var(--background-color);
    border-top: 1px solid var(--outline-color);
    color: var(--text-main-color);
}

footer svg {
    fill: var(--text-main-color);
}